$orange_color: hsl(26, 100%, 55%);
$pale_orange_color: hsl(25, 100%, 94%);

$very_dark_blue_color: hsl(220, 13%, 13%);
$dark_grayish_blue_color: hsl(219, 9%, 45%);
$grayish_blue_color: hsl(220, 14%, 75%);
$light_grayish_blue_color: hsl(223, 64%, 98%);
$white_color: hsl(0, 0%, 100%);
$black_color: hsla(0, 0%, 0%, 0.75);